<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoginUrl" value="http://localhost:56757/Login.aspx" />
    <add key="AuthorizeUrl" value="http://127.0.0.1/SSO.General.Authorize/Login.aspx?link=http://localhost:56757/WebForm1.aspx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>